.nav{
   font-size: 1.5rem;
   align-items: center;
   justify-content: center;
}

body{
        width: 65vw;
        border: 1px solid rgb(0, 0, 0);
        border-style: solid;
        display: flex;
        align-items: flex-start;
        height: 95vh;
        padding: 3rem;
}
 header {
        background-color: rgb(244, 239, 232);
        width: 60vw;
        border: 1px solid rgb(0, 0, 0);
        border-style: solid;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        height: 5vh;
        padding: 3rem;
 }
nav {
    background-color: rgb(206, 205, 205);
    width: 25vw;
    height: 5vh;
    border: 1px solid rgb(0, 0, 0);
    border-style: solid;
    display: flex;
 }

